//styles for Sublime Organic Cupcakes

html {
    font-size:62.5%;
}

.logo {
    background: $cupcake_purple;
    color: $cupcake_cream;
    text-transform: uppercase;
    padding: 15rem;
    margin: 20rem auto;
}
